// GOALHEADER COMPONENT 

#goalheader {
	         

	         h1 {
	         top: 150px;
	         left: 400px;
	         margin: 0 auto;
	         font: $font;
	         font-size: $h-font-size;
	         color: #f4b77a;
	         position: absolute;
	         }




}